{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Panel Attack</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <!--
                            <a href="/">
                                <img src="{% static 'images/logo.png' %}" alt="Wisdom Pet Medicine">
                            </a>
                            -->
                        </div>
                        <div id="header-text" class="">
                            <h2 id="site-title" class="site_title" align="center">
                                Panel Attack!
                            </h2>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>
