{% extends "base.html" %}
{% block content %}
<div class="board-wrapper">

    <table class="panels-table">
        {% for panel in panels %}

          {% if forloop.counter|add:-1|divisibleby:5 %}
              <tr>
          {% endif %}

            <td class="panel-cell" style="background-color: {{ panel.color }}">
                <a class="panel-number" href="{% url 'panel_detail' panel.id %}">
                    {{ panel.id }}
                </a>
            </td>

          {% if forloop.counter|divisibleby:5 %}
              </tr>
          {% endif %}

        {% endfor %}
    </table>

    <div class="reset-link-wrapper">
        <a class="reset-link" href="{% url 'reset_game' %}">reset game</a>
    </div>

</div>
{% endblock %}
