{% extends "base.html" %}
{% block content %}
<div>
<form action="{% url 'index'%}" method="post">
    {% csrf_token %}
    <input id="id_panel_id" name="panel_id" type="hidden" value="{{ panel.id }}" />

    <table align="center" class="form_table" dir="rtl" style="width: 70%; height: 50%">
<tr style="height: 15%">
<td>
		<select id="id_color" name="color" style="width: 20%" multiple="multiple">
			<option value="#ffff99"> yellow </option>
			<option value="#ccffcc"> green </option>
			<option value="#ccffff"> blue </option>
			<option value="#ffe6ff"> pink </option>

			</select>
</td>
</tr>
<tr>
	<td colspan="2" class="form_td" style="width: 70%"><strong>
        {{ question_phrase }}
	</strong>
	</td>
</tr>
<tr>
	<td class="form_title_td">
                <input type="radio" name="answer" required="" id="id_answer" value="{{ questions_mixed.0 }}">{{ questions_mixed.0 }}

    </td>
	<td class="form_title_td" >
        <input type="radio" name="answer" required="" id="id_answer" value="{{ questions_mixed.1 }}">{{ questions_mixed.1 }}


	</td>
</tr>
<tr>
	<td class="form_title_td" >
        <input type="radio" name="answer" required="" id="id_answer" value="{{ questions_mixed.2 }}">{{ questions_mixed.2 }}

	</td>
	<td class="form_title_td">
        <input type="radio" name="answer" required="" id="id_answer" value="{{ questions_mixed.3 }}">{{ questions_mixed.3 }}

	</td>
</tr>

</table>
    <br>

    <div align="center">
<input type="submit" value="OK! I'm Sure">
    </div>
</form>
</div>
{% endblock %}